<div *ngFor="let node of _nodes" >
  {{node.ip}}
  {{ bb[node.ip] | json }}
  <!--{{nodeCheck(node.ip) | async}}-->
</div>
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-lg-3 col-sm-12" *ngFor="let env of _node_envs">-->
<!--<div class=".column-header">{{env}}</div>-->
<!--<div class=".column-list">-->
<!--<div class="list-group" *ngFor="let n of _env_filter(env); trackBy:trackByHeroes">-->
<!--<div class="list-group-item list-group-item-warning">-->
<!--<div class="list-group">-->
<!--<div class="list-group-item list-group-item-info">-->
<!--<a href="#" data-toggle="modal" data-target="#reportOS" (click)="reportOS(n.ip)">-->
<!--ip: {{ n.ip }} sshPort: {{ n.port }}-->
<!--&lt;!&ndash;{{ nodeCheck(n.ip) | async}}&ndash;&gt;-->
<!--&lt;!&ndash;{{ nodeCheck(n.ip) | async | json }}&ndash;&gt;-->
<!--&lt;!&ndash;delay:{{ n.timestamp }}&ndash;&gt;-->
<!--</a>-->
<!--<div *ngFor="let d of n.databases">-->
<!--<a href="#" class="list-group-item list-group-item-success" data-toggle="modal" data-target="#reportOracle" (click)="reportDatabase(n.ip,d.service)">-->
<!--service: {{d.service}} port: {{d.port}}-->
<!--&lt;!&ndash;delay:{{ d.timestamp }}&ndash;&gt;-->
<!--&lt;!&ndash;<div *ngFor="let alert of d.alert" class="list-group-item-danger"> {{alert[2]}}</div>&ndash;&gt;-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div *ngIf="ff" class="modal fade" id="reportOracle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
<!--<div class="modal-dialog modal-lg">-->
<!--<div class="modal-content">-->
<!--<report-database [ip]="ip" [service]="service"></report-database>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div *ngIf="gg" class="modal fade" id="reportOS" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
<!--<div class="modal-dialog modal-lg">-->
<!--<div class="modal-content">-->
<!--<report-os [ip]="ip"></report-os>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->